html { 
  background: url(https://www.dentons.com/-/media/images/website/background-images/regions/united-states/us_regional_image_v7.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pro-box{
	width: 700px;
	height:900px;
	background: rgba(0,0,0,0.1);
	margin:0 auto;
	padding:10px;
	color:white;
	text-align: center;
	border-radius: 25px;
}
.about-sub{
	display: none;
}

h1{
	text-align: center;
	letter-spacing: 5px;
	color:white;
	font-size:60px;
	font-family: cursive, sans-serif;
}

h2{
	text-align: center;
	letter-spacing: 1px;
	color:white;
	font-family:Arial;
}

li{
	color:lightgoldenrodyellow;
	font-size: 30px;
	font-family: sans-serif;

}
.line-break{
	margin:0 auto;
	color:white;
	border:2px solid brown;
}

.pro-pic{
	height:42px;
}
.social-icons{
	margin-top: 50px;
	text-align: center;
	margin-bottom: 500px;
	text-shadow: 1px 1px 1px #ccc;
    font-size: 3em;
	color:wheat;
}


.topnav {
    background-color: #268;
    overflow: hidden;
	height:65px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
